<div class="d-flex row sticky-dls">
    <div class="d-flex row mx-2 mb-2 justify-content-center text-bg-success p-2 rounded shadow">
        <p class="fs-5 mx-auto my-auto mb-0">U$D Billete</p>
        <p class="dolar-billete fs-5 mx-auto my-auto mb-0"></p>
    </div>
    <div class="d-flex row mx-2 justify-content-center text-bg-secondary p-2 rounded shadow">
        <p class="fs-5 mx-auto my-auto mb-0">U$D Divisa</p>
        <p class="dolar-divisa fs-5 mx-auto my-auto mb-0"></p>
    </div>
</div>