<div class="d-flex align-items-center justify-content-center">
    <div class="d-flex flex-wrap row col-12 justify-content-center">
        <div class="text-center mb-2">
            <span class="fs-2" id="titlePage">{{title}}</span>
        </div>
        <div class="mb-3 mb-lg-0 mx-auto">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
        </div>
        <div class="toast" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <h6 class="text-center">No se encontró el artículo</h6>
            </div>
        </div>
    </div>
</div>

